body {
  background-color:#eaeeff;
}

.holder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 250px;
  height: 200px;
  background-color: white;
  border: solid black;
  border-radius: 10px;
  border-width: 1px;
  overflow: hidden;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.title {
  background-color: rgb(216, 216, 216);
  width: 100%;
  height: 20px;
  position: relative;
}

.field {
  background-color: white;
  height: 180px;
  width: 100%;
}


